header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(-50%); /* Center horizontally */
  left: 50%; /* Position at 50% from left */
}

.page-head-section {
  padding: 3.5rem 1rem 0;
}

.imgpagehead-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color--white);
}

.pageheadimg {
  width: 100%;
  height: 250px; /* Adjust as needed */
  object-fit: cover;
}

h1.imgpagehead-title {
  color: var(--color--white);
  text-align: center;
}

.imgpagehead-title {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.imgpagehead-subtitle {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
