/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  /* Colors */
  --primary-color: #4fb28f; /* Main accent */
  --secondary-color: #515654; /* Dark text or background */
  --background-color: #ebf0ea; /* Light background */
  --text-color: #515654; /* Default text */
  --hover-color: #3e9573; /* Slightly darker shade of the primary */

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Font Sizes */
  --font-small: 0.875rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;

  /* Other */
  --transition-duration: 0.3s;

  /* Outer Elements */
  --border-radius-lg: 1.5rem; /* Large elements, e.g., cards, modals */

  /* Inner Elements */
  --border-radius-md: 2rem; /* Medium elements, e.g., buttons, inner containers */
  --border-radius-sm: 1rem; /* Small elements, e.g., inputs, icons */

  /* Fully Rounded */
  --border-radius-full: 50%; /* For circular elements, e.g., profile pictures, badges */

  /* Font Family Variables */
  --font-primary: "Nunito Sans", sans-serif; /* Primary font (for general text) */
  --font-heading: "Montserrat", sans-serif; /* Font for headings */
  --font-var: "Bebas Neue", sans-serif;

  /* Font Size Variables */
  --font-size-base: 16px; /* Base font size for body text */
  --font-size-large: 2rem; /* Large font size for headings */
  --font-size-heading: 4rem; /* Extra large for hero sections or major headings */

  /* Font Weight Variables */
  --font-weight-normal: 400; /* Normal weight */
  --font-weight-bold: 700; /* Bold weight */

  /* Line Height Variables */
  --line-height-base: 1.6; /* Default line height for readability */
  --line-height-tight: 1.2; /* Tight line height for headings or titles */

  /* Letter Spacing Variables */
  --letter-spacing-normal: 0px; /* Default letter spacing */
  --letter-spacing-wide: 2px; /* Wide letter spacing for headings */
  --letter-spacing-hero: 3px; /* Larger spacing for hero text */

  --color--black: #000000;
  --color--cyan-bluish-gray: #abb8c3;
  --color--white: #ffffff;
  --color--pale-pink: #f78da7;
  --color--vivid-red: #cf2e2e;
  --color--luminous-vivid-orange: #ff6900;
  --color--luminous-vivid-amber: #fcb900;
  --color--light-green-cyan: #7bdcb5;
  --color--vivid-green-cyan: #00d084;
  --color--pale-cyan-blue: #8ed1fc;
  --color--vivid-cyan-blue: #0693e3;
  --color--vivid-purple: #9b51e0;
  --color--primary: #ec6325;
  --color--secondary: #0d263c;
  --color--tertiary: #dfe7ed;
  --color--quaternary: #f9fcff;
  --color--body-bg: #eaf0f5;
  --color--body-text: #44525e;
  --color--alternate: #000000;
  --color--transparent: rgba(0, 0, 0, 0);
  --font-size--small: 13px;
  --font-size--medium: 20px;
  --font-size--large: 36px;
  --font-size--x-large: 42px;
  --font-family--inter: "Inter", sans-serif;
  --font-family--cardo: Cardo;
  --spacing--20: 0.44rem;
  --spacing--30: 0.67rem;
  --spacing--40: 1rem;
  --spacing--50: 1.5rem;
  --spacing--60: 2.25rem;
  --spacing--70: 3.38rem;
  --spacing--80: 5.06rem;
  --shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1),
    6px 6px rgba(0, 0, 0, 1);
  --shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

/* Utility Classes */
.hidden {
  display: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

/* Body and Base Layout */
body {
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: var(--line-height-tight);
}

/* Global Font Setup */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; /* Secondary font for headings */
  font-weight: 700; /* Bold headings for emphasis */
  margin: 0;
  margin-bottom: 1rem;
  color: var(--text-color);
  text-align: left;
}

/* Apply consistent fonts for search section */
.search-input {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

/* Buttons Container */
.buttons {
  margin-top: 20px;
}

/* Buttons Styling */
.btn {
  font-family: var(--font-primary);
  background-color: var(--primary-color);
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 15px 20px;
  color: var(--color--white);
  border: none;
  border-radius: var(--border-radius-md);
}

/* Button Hover Effect */
.btn:hover {
  background-color: var(--hover-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -var(--spacing-small);
}

.col {
  flex: 1;
  padding: 0 var(--spacing-small);
}

h2 {
  font-size: var(--font-size--large);
}

a {
  font-family: "Nunito Sans", sans-serif;
}

p,
li,
span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

label,
input,
textarea {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.section-title {
  margin-bottom: 2rem;
}

.section-sub-title {
  font-size: var(--font-medium);
  margin-bottom: 1rem;
}

.price {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #f44336; /* or another accent color */
}

/* Container for the section */
section {
  width: 100%; /* Ensures it takes full available width until 1440px */
  margin: 0 auto; /* Center the section horizontally */
  box-sizing: border-box; /* Ensure padding doesn't overflow */
  padding: 2rem 1rem;
}

/* Cards */
.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-price {
  font-size: 1rem;
  color: var(--primary-color); /* Example price color */
  margin: 0.5rem 0;
  font-weight: var(--font-weight-bold);
}

.card-description,
.card-location {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.card-category {
  font-size: 0.875rem; /* Smaller font size for category */
  color: #777; /* Lighter color for category */
  margin-bottom: 0.25rem; /* Adds space below category */
}

.card-title {
  font-size: 1.25rem; /* Larger font size for title */
  margin-bottom: 0.5rem; /* Adds space below title */
}

.card-meta {
  font-size: 0.875rem; /* Smaller font size for meta */
  color: #999; /* Even lighter color for meta */
  margin-bottom: 0.5rem; /* Adds space below meta */
}

.card-excerpt {
  font-size: 0.875rem;
}

/* Tours Page */
.tours {
  padding: 2rem 1rem;
  text-align: center;
  background: #f4f4f4;
}

.tour-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.tour .btn {
  margin-top: 1rem;
}

/* Active Navigation Link */
nav ul li a.active {
  text-decoration: underline;
  font-weight: bold;
}

/* Contact Page */
.contact {
  padding: 2rem 1rem;
  text-align: center;
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Header Styling */
header {
  background: rgba(44, 62, 80, 0); /* Transparent header */
  color: white;
  padding: 0.5rem 0; /* Added padding to give more space */
  position: fixed;
  top: 0;
  left: 50%; /* Position at 50% from the left */
  transform: translateX(-50%); /* Move back by 50% of its width to center it */
  width: 100%;
  z-index: 1000;

  max-width: 1440px; /* Max width of header */
  margin: 0 auto; /* Center the header horizontally */
  box-sizing: border-box;
  width: 100%; /* Ensures header takes full width */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* Ensure the logo and navigation are properly aligned */
header .logo {
  display: flex;
  align-items: center;
}

/* Adjust navigation to fit within container */
header nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

header .login-options {
  margin-left: auto; /* Pushes login options to the right */
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between navigation items */
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem; /* Add some padding to the links */
}

.white-bg {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .logo {
  flex: 0 1 auto; /* Keeps the logo from growing or shrinking */
}

header .Logo-space {
  font-size: 1.5rem;
  font-weight: bold;
}

header .logo {
  width: 117.03px;
}

header .logo img {
  width: 150px; /* Ensures the logo has a set width */
}

/* Navigation Menu */
header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: var(--hover-color); /* Hover effect for links */
}

/* Login and SignUp Styling */

header .login-options a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
}

header .login-options a:hover {
  color: #f39c12; /* Hover effect for links */
}

/* Hamburger Menu Icon */
.menu-toggle {
  display: none; /* Initially hidden for larger screens */
  cursor: pointer;
  font-size: 1.4rem; /* Adjust icon size */
  color: white; /* Icon color */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
  border-radius: 5px;
}

/* Default Link Styles */
header a {
  color: var(--primary-color); /* White by default */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Header Background and Link Color on Scroll */
header.white-bg {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
}

header.white-bg a {
  color: black; /* Links turn black when scrolled */
}

/* MOBILE VIEW OVERRIDES */
@media (max-width: 768px) {
  /* Links Are Always Black in Mobile View */
  header a {
    color: var(--primary-color); /* White by default in mobile view */
  }

  /* Always Black Links Inside Nav Menu */
  nav a {
    color: black !important; /* Black in the nav menu */
  }

  /* Scrolled Header Links Outside Nav Menu */
  header.white-bg a {
    color: black;
  }

  h2.section-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* Mobile Layout */
@media only screen and (max-width: 768px) {
  header .logo {
    flex: 1;
  }

  /* Hide the navigation menu by default */
  nav ul {
    display: none;
    flex-direction: column; /* Stack links vertically */
    background-color: #ffffff; /* Menu background */
    position: absolute;
    top: 180px; /* Adjust based on header height */
    right: 0;
    width: 90%; /* Full width for mobile view */
    /* Align in the center using absolute*/

    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    padding: 10px 0;
    z-index: 1000; /* Ensure it's on top of other elements */
    transition: all 0.3s ease; /* Smooth transition for opening/closing */
  }

  /* Show the navigation menu when active */
  nav ul.active {
    display: flex;
  }

  /* Styling for individual links */
  nav ul li {
    margin: 10px 0;
    text-align: center;
    padding: 10px 0;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  /* Optional: Prevent flickering of the navigation menu */
  nav ul {
    visibility: hidden;
    opacity: 0;
  }

  nav ul.active {
    visibility: visible;
    opacity: 1;
  }

  header .login-options {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center login/signup on mobile */
    gap: 15px;
  }

  /* Show hamburger menu */
  .menu-toggle {
    display: flex; /* Display the menu icon */
    justify-content: center;
    align-items: center;
  }

  /* Add Login and Signup inside the hamburger menu */
  header nav ul li.login-option {
    margin-top: 10px;
  }
}

/* Hero Section and Carousel */
.hero {
  position: relative;
  width: 100%;
  /* height: 650px; Calculated height for 1150px width and 90vh aspect ratio */
  /* Make the hero section take the full viewport height on mobile*/
  overflow: hidden;
  z-index: 0;
  padding: 3.5rem 1rem 2rem;
}

/* Carousel Container */
.hero-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Visually Hidden Text */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Prevent line breaks */
  border: 0;
}

/* Hero Section Carousel Specific Styles */
.hero .carousel-slider .list .item .content {
  top: 30%; /* Adjust top position to avoid overlap with search bar */
  padding-right: 0; /* Remove unnecessary padding */
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  z-index: 1001; /* Ensure buttons are above other hero elements */
}

/* Media Query Adjustments for Hero Carousel */
@media (max-width: 768px) {
  .hero .carousel-slider .list .item .content {
    /*top: 20%;*/ /* Adjust for smaller screens */
    top: 80px;
  }
}

/* Search Section */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px; /* Adjusted top position to avoid clashing with the header */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 50%;
  max-width: 800px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form {
  display: flex;
  width: 100%;
  gap: 10px;
}

.search-input {
  flex: 2;
  padding: 15px;
  border: none; /* Remove default border */
  border-radius: 2rem;
  font-size: 16px;
}

@media (max-width: 768px) {
  .search {
    width: 90%;
    top: 15px;
    padding: 0.7rem; /* Reduced padding */
    border-radius: 2rem;
    width: 90%;
  }

  .search-form {
    gap: 5px; /* Reduced gap */
  }

  .search-input,
  .search-button {
    font-size: 14px;
    padding: 0.5rem; /* Reduced padding */
  }

  .hero {
    font-size: 14px;
  }
}

/* Making hero section 100vh for mobile */
@media (max-width: 480px) {
  .search {
    padding: 0.5rem; /* Further reduced padding */
  }

  .search-form {
    gap: 5px;
  }

  .search-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .search-button {
    font-size: 1rem;
  }
}

/* Statistics Section */
.stats-section {
  transition: margin-top 0.3s ease-in-out; /* Optional smooth transition */
}

/* Stats Container */
.stats-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
}

/* Stat Item */
.stat-item {
  text-align: center;
  background: #f9f9f9;
  border-radius: var(--border-radius-md);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  transition: transform 0.3s ease;
}

.stat-item:hover {
  transform: translateY(-5px);
}

.stat-item h2 {
  font-size: 2.5rem;
  text-align: center;
}

.stat-item p {
  font-size: 1rem;
  color: #6c757d;
  margin: 5px 0 0;
}

/* Tablet Screens */
@media (max-width: 768px) {
  .stats-container {
    /*flex-direction: column;*/ /* Stack items vertically on smaller screens */
    justify-content: center;
    gap: 1rem;
    padding: 0 20px; /* Remove horizontal padding */
  }

  .stat-item {
    width: 80%; /* Make stat items more flexible */
    max-width: 350px; /* Limit max width to prevent them from getting too wide */
  }
}

/* Mobile Screens */
@media (max-width: 480px) {
  .stats-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    justify-content: center;
    gap: 1rem;
    padding: 0 20px; /* Remove horizontal padding */
  }

  .stat-item {
    width: 100%; /* Make stat items full width */
    max-width: none;
    padding: 15px; /* Less padding on mobile */
  }

  .stat-item h2 {
    font-size: 1.8rem; /* Smaller heading size for mobile */
  }

  .stat-item p {
    font-size: 0.9rem; /* Smaller paragraph size for mobile */
  }

  /* Input field styling */
  .search input[type="text"] {
    /*width: 300px;*/ /* Adjusted width */
    padding: 0.7rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Button styling */
  .search button[type="submit"] {
    top: 0;
    right: 0;
  }
}

/* Find Section */

.section-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
  text-align: center;
  margin-bottom: 2rem;
}

.section-title-wrapper h2 {
  margin-right: 1rem; /* Add right margin to the title */
}

@media (max-width: 768px) {
  .section-title-wrapper h2 {
    margin-right: 0.5rem; /* Adjust margin for smaller screens */
  }
}

.find-section .categories {
  text-align: center;
  margin-bottom: 2rem;
}

.find-section .categories ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.find-section .categories li {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: var(--border-radius-md);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.find-section .categories li.active {
  background: var(--primary-color);
  color: var(--color--white);
  font-weight: var(--font-weight-bold);
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.find-section .categories li:hover {
  background: var(--hover-color);
  color: var(--color--white);
  font-weight: var(--font-weight-bold);
}

.find-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.find-item {
  background: white;
  border: 1px solid #ddd;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: transform 0.3s;
  padding: 1rem;
}

.find-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
}

/* Initially hide all items */
.find-item {
  display: none;
}

/* Show only visible items */
.find-item.visible {
  display: block;
}

.find-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.find-info h3 {
  margin-top: 0.5rem;
}

.find-meta {
  font-size: 0.875rem;
  color: #aaa;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: center;
}

/* Fade-out animation */
.fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: scale(1.05);
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pagination {
  text-align: center;
  margin-top: 2rem;
}

.pagination a {
  color: var(--color--white);
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid #ddd;
  transition: background 0.3s, color 0.3s;
  border-radius: var(--border-radius-md);
  font-size: var(--font-size--medium);
}

.pagination a.active,
.pagination a:hover {
  background: var(--primary-color);
  color: var(--color--white);
}

.pagination a.active {
  font-weight: bold;
  color: var(--primary-color);
}

@media (max-width: 480px) {
  /* Find Section */
  .find {
    padding-top: 2rem; /* Add more padding to ensure it’s well spaced */
    text-align: center;
    background: #f4f4f4;
  }

  .find-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* General styles for the Top Destinations section */
.top-destinations {
  border-radius: var(--border-radius-md);
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.carousel-caption {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.carousel-image {
  flex: 1;
  text-align: right;
}

.carousel-image img {
  max-width: 100%;
  height: auto;
}

.carousel-slider {
  height: 600px; /* Calculated height, adjust as needed */
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius-md);
}

.carousel-slider .section-title h2 {
  position: relative;
  z-index: 10;
  color: var(--color--white);
  margin-top: 1rem;
  left: 100px;
}

.carousel-slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  border-radius: var(--border-radius-md);
}
.carousel-slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.carousel-slider .list .item .content {
  position: absolute;
  top: 20%;
  /* width: 1140px; */
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  /* padding-right: 30%; */
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel-slider .list .item .author {
  font-weight: bold;
  font-size: 0.8rem;
}
.carousel-slider .list .item .title,
.carousel-slider .list .item .topic {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3em;
}

.carousel-slider .list .item .title {
  color: var(--primary-color);
}

.carousel-slider .list .item .topic {
  color: var(--background-color);
}

.carousel-slider .list .item .author {
  color: var(--background-color);
  margin-bottom: 0;
}

.carousel-slider .list .item .des {
  width: 50%;
}

.carousel-slider .list .item .buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

/* Media Queries for Mobile */
@media (max-width: 1024px) {
  .carousel-slider .list .item .des {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .carousel-slider .section-title {
    left: 70px;
  }

  .carousel-slider .list .item .content {
    top: 15%;
    /* padding-right: 5%; */
  }
  .carousel-slider .list .item .title,
  .carousel-slider .list .item .topic {
    font-size: 1.8em; /* Adjust further for smaller screens */
  }

  .carousel-slider .list .item .des {
    width: 70%;
  }
  .carousel-slider .list .item .buttons {
    gap: 3px;
  }
  .carousel-slider .list .item .buttons button {
    font-size: 0.8em;
  }
  .thumbnail-slider {
    left: 35%;
    /* bottom: 85px; */
  }
}

@media (max-width: 480px) {
  .carousel-slider .section-title {
    left: 70px;
  }
  .carousel-slider .list .item .content {
    top: 10%;
  }
  .carousel-slider .list .item .title,
  .carousel-slider .list .item .topic {
    font-size: 1.3em; /* Further reduce size */
  }

  .carousel-slider .list .item .des {
    width: 100%;
  }

  .carousel-slider .list .item .buttons {
    /* position: absolute; */
    top: 2rem;
    /* bottom: 0; */
    right: 0;
  }

  .carousel-slider .list .item .buttons button {
    /* position: inherit; */
    /* width: 80px; */
    /* height: 80px; */
    /* bottom: -70px; */
    padding: 0.75rem;
  }
}

/* thumbail */
.thumbnail-slider {
  position: absolute;
  bottom: 85px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail-slider .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail-slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail-slider .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail-slider .item .content h3 {
  font-weight: 500;
  color: var(--color--white);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.thumbnail-slider .item .content p {
  font-weight: 300;
  line-height: 1;
  font-size: 0.875rem;
}

/* arrows */
.arrows {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 50%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .arrows {
    max-width: unset;
    justify-content: space-between;
  }
}

/* animation */
.carousel-slider .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel-slider .list .item:nth-child(1) .content .author,
.carousel-slider .list .item:nth-child(1) .content .title,
.carousel-slider .list .item:nth-child(1) .content .topic,
.carousel-slider .list .item:nth-child(1) .content .des,
.carousel-slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.2s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel-slider .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}
.carousel-slider .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}
.carousel-slider .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousel-slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.carousel-slider .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 85px;
  left: 50%;
  border-radius: 1.5rem;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel-slider.next .thumbnail-slider .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel-slider.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel-slider.next .thumbnail-slider {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

@media (max-width: 768px) {
  .thumbnail-slider {
    left: 35%;
  }
  .carousel-slider.next .list .item:nth-child(1) img {
    left: 35%;
  }
}
/* running time */

.carousel-slider .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 0px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel-slider.next .time,
.carousel-slider.prev .time {
  animation: runningTime 0.5s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousel-slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel-slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail-slider .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel-slider.next .arrows button,
.carousel-slider.prev .arrows button {
  pointer-events: none;
}
.carousel-slider.prev .list .item:nth-child(2) .content .author,
.carousel-slider.prev .list .item:nth-child(2) .content .title,
.carousel-slider.prev .list .item:nth-child(2) .content .topic,
.carousel-slider.prev .list .item:nth-child(2) .content .des,
.carousel-slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel-slider .list .item .content {
    padding-right: 0;
  }
  .carousel-slider .list .item .content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1;
  }

  .carousel-slider .list .item .content p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

/* Latest Stories */
section.latest-stories {
  position: relative;
  padding: 2rem 1rem 2rem 1rem;
}
.additional-stories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.latest-stories .story-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Adjust column widths as needed */
  gap: 1.5rem;
}

.latest-stories .story-card.story-lg {
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  justify-content: center;
}

.story-image {
  width: 40%; /* Adjust as needed */
  margin-right: 1rem; /* Adds space between image and content */
  object-fit: cover; /* Ensure images cover their container */
  border-radius: 1rem;
}

.latest-stories .story-card.story-lg .story-image {
  width: 100%; /* Image takes full width */
  height: 100%; /* Maintain aspect ratio */
  margin: 0;
}

.latest-stories .story-card.story-lg .story-content {
  padding: 1rem;
}

.story-content {
  flex: 1; /* Allows content to take up remaining space */
}

.latest-stories .story-card:not(:first-child) {
  display: flex;
  height: auto; /* Auto height for other cards */
}

/* Styles for the story card */
.story-card {
  background: #fff; /* White background */
  display: flex; /* Ensures flexbox layout */
  padding: 0.5rem; /* Adds padding for spacing */
  border-radius: 1.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.read-more-link {
  font-size: 16px;
  color: var(--text);
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
  display: inline-block;
}

.circle-svg {
  width: 82px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

.circle-svg:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}

.read-more-button {
  /* Position at the top right */
  position: absolute;
  top: 0;
  right: 0;
  /* Remove default margin */
  margin: 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .read-more-button {
    position: static; /* Remove absolute positioning */
    display: block; /* Make it a block element to take full width */
    width: 100%; /* Full width button */
    text-align: center; /* Center text */
    margin-top: 1rem; /* Add top margin for spacing */
  }

  .section-title-wrapper {
    flex-direction: column; /* Stack title and button vertically */
    align-items: flex-start; /* Align to the left */
  }

  .section-title-wrapper h2 {
    margin-left: 0.5rem; /* Adjust margin for smaller screens */
  }
}

/* Tablet Screens */
@media (max-width: 768px) {
  .latest-stories .story-grid {
    grid-template-columns: 1fr;
  }

  .additional-stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .additional-stories .story-card {
    flex-direction: column;
  }
  .additional-stories .story-image {
    width: 100%;
    height: auto;
  }
  .additional-stories .story-content {
    padding: 1rem;
  }
  .read-more-link {
    font-size: 14px;
  }
}

/* Mobile Screens */
@media (max-width: 678px) {
  .additional-stories {
    grid-template-columns: 1fr;
  }
}

/* Trekker's Highlights */
.trekker-highlights {
  padding: 2rem 1rem 2rem 1rem;
}
.teal-gradient {
  position: relative;
  background: linear-gradient(to right, #26a69a, #00796b);
}
.highlight-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.highlight-description {
  color: #666;
}
.highlight-button {
  margin-top: 1rem;
}

/* Highlight Section Grid Layout */
.highlights-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2 columns by default */
  gap: 1rem; /* Spacing between grid items */
}

.highlight-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Highlight Card Styles */
.highlight-card {
  display: flex;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlight-card-container img {
  width: 40%;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 1rem;
}

.highlight-card.large {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.highlight-card {
  background: #fff; /* White background */
  position: relative;
}

.highlight-details {
  padding: 0.5rem; /* Padding around the details */
}

.large .highlight-details {
  padding: 0;
}

.highlight-title {
  margin-bottom: 0.5rem; /* Margin below the title */
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;

  margin: 1rem 0;
}

.profile-card .info {
  flex: 1;
}

.profile-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  border: 2px solid #e5e7eb;
}

.profile-card .info h3 {
  font-size: 16px;
  margin: 0 0 5px;
  color: #333;
}

.profile-card .info p {
  font-size: 14px;
  color: #666;
}

.stars {
  display: flex;
  gap: 5px;
}

.stars i {
  color: #ffd700;
  font-size: 16px;
}

/* Carousel Styles */
.highlight-carousel {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.highlight-carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  height: 100%;
}

.highlight-carousel img {
  width: 100%;
  /* max-height: 300px; */
  object-fit: cover;
  border-radius: 1rem;
}

.highlight-carousel-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-dot.active {
  background-color: #007bff;
}

.highlight-carousel-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.highlight-carousel-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* responsive syles for hightlight-grid */
@media (max-width: 768px) {
  section.trekker-highlights {
    padding: 2rem 1rem 2rem 1rem;
  }

  .highlights-grid {
    grid-template-columns: 1fr; /* 1 column on smaller screens */
  }

  .highlight-card.large {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* Services section */

.services-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjusted minmax for better layout */
  gap: 2rem; /* Increased gap for better visual separation */
}

.service-item {
  background-color: #fff;
  border-radius: var(--border-radius-md);
  padding: 2rem;
  text-align: center;
  border: 1px solid #ddd;
}

.service-item:hover {
  transform: translateY(-5px); /* Subtle hover effect */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.service-icon {
  font-size: 2rem; /* Larger icon size */
  color: var(--primary-color); /* Primary color for icons */
  margin-bottom: 1rem;
}

.service-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.service-description {
  color: #666;
}

@media (max-width: 480px) {
  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Featured Tours Section */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #0288d1; */
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.swiper {
  width: 100%;
  /* height: 300px; */
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  /* height: 50vh; */
  width: 100%;
  /* border-radius: 1.5rem; */
}

.mySwiper {
  height: 20vh;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button.tours-swiper-btn {
  padding: 1.5rem;
}

.tours-swiper-btn.swiper-button-prev::after,
.tours-swiper-btn.swiper-button-next::after {
  font-size: 1.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0; /* Hide by default */
  pointer-events: none; /* Disable interaction when hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  opacity: 1; /* Reveal buttons on hover */
  pointer-events: all; /* Enable interaction */
}

/* Add hover effect for better UX */
.swiper-container.is-first-slide .swiper-button-prev,
.swiper-container.is-last-slide .swiper-button-next {
  opacity: 1; /* Show buttons when hovering over edge slides */
  pointer-events: all;
}

/* Tour Package Card Styles */
.tour-card {
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevents image overflow */
  transition: transform 0.3s ease;
  padding: 0.5rem;
}

.mySwiper2 .swiper-slide {
  text-align: left;
  background: none;
  box-shadow: none;
}

.tour-card:hover {
  /* transform: translateY(-5px); Subtle hover effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tour-card img {
  width: 100%;
  height: 210px; /* Adjust as needed */
  object-fit: cover;
}

.tour-card-content {
  padding: 1rem;
}

.best-seller {
  margin: 0.5rem 0;
}

.tour-rating {
  font-size: 0.8rem;
  color: #999;
  display: flex;
  align-items: center;
}

.tour-rating p {
  line-height: 0;
}

.price-div {
  display: flex;
  justify-content: space-between;
}

.tour-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
}

.tour-details p {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap; /* Allow wrapping of text */
  word-wrap: break-word; /* Break long words if necessary */
  overflow-wrap: break-word; /* Ensures text breaks nicely in modern browsers */
}

.tour-card-content i {
  color: var(--primary-color);
  font-size: 18px;
}

.tour-rating-div {
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}

.tour-rating-div .stars {
  justify-content: left;
  margin: 0;
}

.tour-description-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.tour-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em; /* Adjust based on font size (1.5em per line for two lines) */
}

/* Responsive adjustments for tour cards */
@media (max-width: 768px) {
  .tour-card img {
    height: 225px; /* Adjust image height for smaller screens */
  }
}

.tour-package {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 1rem; */
  /* background-color: #fff; */
  border-radius: 1.5rem;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  height: 100%;
  width: 100%;
}

.tour-image {
  flex: 1;
  text-align: right;
}

@media (max-width: 768px) {
  .tour-package {
    flex-direction: column;
    align-items: flex-start;
  }

  .tour-image {
    text-align: center;
  }

  .tour-image img {
    width: 100%;
    height: auto;
  }

  .mySwiper2 {
    height: 100%;
  }
}

/* Testimonials */
.testimonials {
  /* background: #333; */
  /* color: white; */
  padding: 2rem 1rem;
  position: relative;
}

/* .testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  text-align: center;
} */

.testimonial.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* background: #444; */
  font-style: italic;
  font-family: "Playfair Display", serif;
  /* color: #333; */
}

.testimonial h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.testimonial p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.testimonial.swiper-slide img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.stars {
  display: flex;
  gap: 5px;
  margin: 0.5rem 0;
}

.stars i {
  color: #ffd700;
  font-size: 16px;
}

.testimonial-pagination.swiper-pagination {
  bottom: 0rem;
}

.swiper.mySwiper3 {
  /* height: 50vh; */
  border-radius: 1.5rem;
}

/* Call to Action Section */
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.cta-text {
  flex: 1;
}

.cta-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subscribe-form {
  display: flex;
  gap: 0.5rem;
}

.subscribe-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius-md);
  flex: 1;
}

.cta-image {
  flex: 1;
}

.cta-image img {
  width: 100%;
  border-radius: var(--border-radius-md);
}

@media (max-width: 768px) {
  .cta-content {
    flex-direction: column;
    text-align: center;
  }

  .cta-image {
    display: none;
  }
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background: var(--background-color);
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--background-color);
  border-top: 1px solid var(--color--body-text);
}

.footer-logo img {
  width: 150px;
  margin-bottom: 1rem;
}

.footer-logo p,
.footer-logo span {
  margin: 0.5rem 0;
  color: var(--color--body-text);
}

.footer-links {
  color: var(--color--body-text);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: var(--color--body-text);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: var(--hover-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer p {
  color: var(--color--body-text);
}

.social-link {
  text-decoration: none;
  transition: color 0.3s;
  color: var(--color--body-text);
}

.social-link:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    text-align: center;
  }
}
